p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #0c95f7;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 20px;
    text-decoration: underline;
    text-indent: 20px;
    text-align: left;
    text-transform: uppercase;
    border: 5px solid #ff0000;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 100%;
}
.caja{
    padding-left: 20px;
    padding-right: 20px;
    width: 80px;
}
div{
    width: 100%;
    width: 160px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
#imagen{
    background-image: url("img/avatar.png");
    background-repeat: repeat-x;
    background-position: 20px 20px;
}
body{
    background-image: url("img/avatar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #ff0000;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-align: end;
    border: 5px solid #00FF00;
    margin-bottom: 40px;
}

h2 {
    font-style: italic;
    font-size: 22px;
    word-spacing: 20px;
    border-bottom: 2px solid #c1c1c1;
}

h3 {
    letter-spacing: 4px;
    color: #0C95F7;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

h4 {
    font-weight: bold;
    letter-spacing: 4px;
    word-spacing: 20px;
    margin-top: 20px;
}

h5 {
    height: 100px;
    width: 300px;
}

a {
    font-style: italic;
    text-decoration: none;
}

li {
    height: 45px;
    width: 500px;
}

ul.comidas li {
    border-bottom: 1px solid #000000;
    background-image: url("img/avatar.png");
}

p strong {
    color: #ff0000;
}

#principal {
    color: #00ff00;
    font-size: 24px;
}

#encabezado {
    background: #000000;
    color: #ffffff;
    max-height: 115px;
}

.destacado:hover {
    font-size: 10px;
    font-style: italic;
}

a:link {
    text-transform: none;
}

a:visited {
    color: black;
}

a:hover {
    color:#ff0000;
}

a:active {
    color:black;
}
div.noticia h1 {
    max-height: 100px;
}
.bajada{
    max-height: 250px;
    min-height: 50px;
}